[includeIf "gitdir:~/workspaces/github.com/"]
    path = ~/.gitconfig_company
[includeIf "gitdir:~/workspaces/github.com/ssakihara/"]
    path = ~/.gitconfig_private
[includeIf "gitdir:~/workspaces/github-private/"]
    path = ~/.gitconfig_private
[user]
    useConfigOnly = true
[color]
    diff = auto
    status = auto
    branch = auto
[push]
    default = current
[core]
    precomposeunicode = true
    quotepath = false
    editor = vim -c \"set fenc=utf-8\"
    excludesfile = ~/.gitignore_global
    ignorecase = false
[merge]
    ff = false
    conflictstyle = diff3
[diff]
    colorMoved = default
[pull]
    ff = only
[init]
    defaultBranch = main
[alias]
    st = status
    sw = switch
    b = branch
    cm = commit -m
    p = pull
[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta
[delta]
    plus-style = "syntax #012800"
    minus-style = "syntax #340001"
    syntax-theme = Monokai Extended
    navigate = true
    side-by-side = true
[interactive]
    diffFilter = delta --color-only
[ghq]
    root = ~/workspaces
